.about {
  background-color: rgb(229, 229, 229);
  letter-spacing: 0.055em;

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h2 {
    margin-top: 0;
  }

  &-container {
    display: grid;
    padding-right: 20px;
    padding-left: 20px;

    @include lg-min {
      grid-gap: 100px;
      grid-template-columns: 1fr 271px;
    }

    @include lg-md {
      grid-gap: 40px;
    }

    @include md-sm {
      grid-gap: 20px;
      grid-template-columns: 1fr 236px;
    }
    
    @include sm {
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &-image {
    display: grid;
    align-content: center;
    justify-items: center;

    img {
      max-width: 100%;
    max-height: 480px;
    }
  }

  .content-title {
    color: #2d3651;
    font-family: $font-header;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-family: "Roboto Slab", serif;
    margin-top: 0;

    @include lg {
      margin-bottom: 56px;
      font-size: 2.5rem;
    }

    @include lg-md {
      margin-bottom: 42px;
      font-size: 2rem;
    }

    @include sm {
    margin-bottom: 36px;
    font-size: 1.5rem;
    text-align: center;
    }
  }

  &-content {

    letter-spacing: 0.055em;


    p {

      position: relative;

      &:first-of-type {
        position: relative;
        margin-top: -5px;
      }

      &:last-of-type {
        margin: 0;
      }

      @include lg {
        font-size: 1.125rem;
      }
      color: #637588;
    }
  }
}


.about-content p:first-of-type::after {
  @include lg-min {
    right: -50px;
  }

  @include lg-md {
    right: -20px;
  }

  @include md-sm {
    right: -10px;
  }

  @include sm {
    display: none;
  }


  position: absolute;
  top: 0;
  width: 2px;
  height: 200px;
  content: "";
  background-color: rgba(99, 117, 136, 0.1);

}

 

