<div class="container">

  <h1>Course Title</h1>
  <h2>Course Description</h2>

  <p>Lorem ipsum dolor sit amet, <span>consectetur adipisicing elit</span>. Eligendi aut possimus velit accusamus 
    cum vitae facilis quaerat culpa deserunt aspernatur exercitationem odit 
    iusto, qui et explicabo iste, corrupti voluptatum perferendis?</p>

  <div class="row">
    <div class="col">

      <div class="bg-dark">
        <app-topic></app-topic>
      </div>

      <div class="bg-light">
        <app-topic></app-topic>
      </div>

      <div class="bg-dark">
        <app-topic></app-topic>
      </div>

      <div class="bg-light">
        <app-topic></app-topic>
      </div>

      


  </div>
</div>




