<app-spoiler-item header = "Заголовок спойлера 1" [isVisible] = "'true'">
1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae autem consequatur quasi harum? Maxime soluta ratione culpa hic magni quas, nesciunt esse sit explicabo voluptatem qui laboriosam sed praesentium!
</app-spoiler-item>
<app-spoiler-item header = "Заголовок спойлера 2">
2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae autem consequatur quasi harum? Maxime soluta ratione culpa hic magni quas, nesciunt esse sit explicabo voluptatem qui laboriosam sed praesentium!
</app-spoiler-item>

<app-spoiler-item header = "Заголовок спойлера 3">
3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae autem consequatur quasi harum? Maxime soluta ratione culpa hic magni quas, nesciunt esse sit explicabo voluptatem qui laboriosam sed praesentium!
</app-spoiler-item>
